div#bb-cpt-control label.quick-post-label {
    display: block;
    font-weight: bold;
}

div#bb-cpt-control ul.quick-post-list > li {
    margin-bottom: 12px;
}

div#bb-cpt-control textarea {
    width: 99%;
}

ul#bb-cpt-edit-option-list > li {
    float: left;
    margin-right: 50px;
}

ul#bb-cpt-edit-option-list > li#li-bb-cpt-edit-target {
    clear: both;
    display: none;
}
